<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sportner.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sportner.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>sportner</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sportner</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SportnerContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:hkgumhd8gz.database.windows.net,1433;Initial Catalog=sportnerUser;User ID=sportnerUser@hkgumhd8gz;Password=Sportner1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Sportner.Models.SportnerContext, Sportner.Models" MigrationConfiguration="Sportner.Models.Migrations.Configuration, Sportner.Models" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SportnerContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:hkgumhd8gz.database.windows.net,1433;Initial Catalog=sportnerUser;User ID=sportnerUser@hkgumhd8gz;Password=Sportner1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>